.DS_Store
.gradle/
.settings
generated/
bin/
bin_test/
gen/
target/
enroute.zip
.metadata
.github/.project
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


.idea
*.iml
languageServers-log/AlloyLanguageServer.log

# Generated Protocol Buffer files
org.alloytools.alloy.grpc/src/main/java/org/alloytools/alloy/grpc/proto/
build
